body{
  background-image: url(../images/peace.jpg);
 
}
.card-title {
text-align: center;
font-size: 45px;
letter-spacing: 0.25em;
 font-weight: 900;
}
.card{
    display: flex;
    justify-content: space-around;
}
.card-text{
     font-size: 20px;
}
.title{
    font-weight: 700;
    font-size: 25px;
}
.text-input-field{
  box-sizing: border-box;
margin-top: 50px;
  margin-left: 40%;
  width: 25%;
  height: 35px;
  border: 3px solid #000000;
}
.image{
    width: 500px;
}